{% load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de Practicas</title>
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Nunito">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <style>
        body {
            font-family: 'Nunito', sans-serif; /* Cambiar la fuente a 'Roboto' */
        }
    </style>

</head>
<body class="mainbody">
    <img class="imagen_login" src="{% static 'images2.jpg' %}">
    <form method="post">
        {% csrf_token %}
        <img src="{% static 'images3.jpg' %}">
        <h1 >Nombre de usuario</h1>
        <input type="text" name="username">
        <h2> Contraseña </h2>
        <input type="password" name="password">
        <button type="submit">Iniciar sesion</button>
    </form>
</body>
</html>