<!-- estudiante.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Inscripción de Práctica</title>
</head>
<body>
    <div class="container">
        <h1>Inscripción de Práctica Profesional</h1>
        
        <form>
            <fieldset>
                <legend>Datos del estudiante:</legend>
                
                <div class="form-group">
                    <label for="nombre_completo">Nombre Completo</label>
                    <input type="text" id="nombre_completo" name="nombre_completo" value="Nicolás Moisés Paez Pimentel">
                </div>

                <div class="form-group">
                    <label for="rut">Rut</label>
                    <input type="text" id="rut" name="rut" value="11.111.111-1">
                </div>

                <div class="form-group">
                    <label for="domicilio">Domicilio</label>
                    <input type="text" id="domicilio" name="domicilio" value="Av. Pedro de Valdivia 425">
                </div>

                <div class="form-group">
                    <label for="telefono">Número de Teléfono</label>
                    <input type="text" id="telefono" name="telefono" value="+56 9 12345678">
                </div>

                <div class="form-group">
                    <label for="correo">Correo Electrónico</label>
                    <input type="email" id="correo" name="correo" value="nicolas.paez@cloud.uautonoma.cl">
                </div>

                <div class="form-group">
                    <label for="carrera">Carrera</label>
                    <input type="text" id="carrera" name="carrera" value="Ingeniería Civil en Informática">
                </div>

                <div class="form-group">
                    <label for="practica1">Práctica I</label>
                    <input type="checkbox" id="practica1" name="practica1">
                </div>

                <div class="form-group">
                    <label for="practica2">Práctica II</label>
                    <input type="checkbox" id="practica2" name="practica2" checked>
                </div>

            </fieldset>

            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>
