/* Reset general para estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d3d3d3; /* Color gris claro */
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px; /* Espacio entre el título y el contenido */
}

.practicas-container {
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.practica-item div {
    font-size: 14px;
}

.practica-item .detalle-btn {
    background-color: #ccc;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.new-practica-btn {
    margin-top: 20px;
    background-color: #666;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.new-practica-btn:hover {
    background-color: #555;
}
